# Database Credentials
DB_HOST=your-db-host
DB_PORT=db-port
DB_NAME=db-name
DB_USER=username
DB_PASSWORD=password


# CSV file path
CSV_FILE=path-to-your-data.csv
# DB table name
TABLE_NAME=your-table-name